<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>PAULIE_NFT</title>
	<style>

		@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
		@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

		* {
			box-sizing: border-box;
		}

		body {
			margin: 0;
			display: flex;
			flex-wrap: wrap;
			background: white;
		}

		h1 {
			font-family: 'Inter', sans-serif;
			margin: 12px 12px;
		}

		.header {

			display:table;
			width: 100%;
  		padding:0;
			height: 80px;
		}

		.header h1 {
			text-align: left;
			vertical-align:middle;
			margin:16px 12px;

		}

		.showcase {
			width: 200%;
			height: 20vw;
			min-height: 200px;
			overflow-x: scroll;
  		overflow-y: hidden;
  		white-space: nowrap;
		}

		.content {
      height: 20vw;
      width: 20vw;
			min-height: 200px;
			min-width: 200px;
			display: inline-block;
      background-color: #69FFBC;
			vertical-align: top;
    }

		.content.transparent {
			background-color: transparent;
			background-image: linear-gradient(45deg, #D8D8D8 25%, transparent 25%), linear-gradient(-45deg, #D8D8D8 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #D8D8D8 75%), linear-gradient(-45deg, transparent 75%, #D8D8D8 75%);
  		background-size: 20px 20px;
  		background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    }

		.content.icon {
			background-color: lightgray;
  		justify-content: center;
		}

		.content.inner {
				background-color: transparent;
		}

		.content h1 {
			font-size: 12px;
			font-weight: 600;

			position: relative;
  		top: 100%;
  		left: 15%;
			z-index:999;
			margin-left:-10%;
			margin-top:-10%;
		}

		.iconImage {
			height: 10vw;
			width: auto;
			position: relative;
  		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
		}

		.description {
			font-family: 'Inter', sans-serif;
			margin: 12px 12px;
			font-family: 'Inter', sans-serif;
			font-size: 16px;
			color: gray;
			text-align: left;

		}

		#connectWalletBtn {
    	float:right;
			background-color: #000; /* Green */
	  	border: none;
	  	color: white;
	  	padding: 15px 32px;
	  	text-align: center;
	  	text-decoration: none;
	  	display: inline-block;
			font-family: 'Inter', sans-serif;
	  	font-size: 16px;
			margin: 12px 12px;
			min-width: 120px;
		}
		#explainer {
			color:black;
			font-weight: 300;
		}
	</style>
	<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
	<script src="https://cdn.ethers.io/lib/ethers-5.0.umd.min.js"
        type="application/javascript"></script>
	<script type = "text/javascript">

	//crypto!
			async function SignIn () {
				console.log("wat the heck")
				if (window.ethereum) {
				  try {
				    const accounts = await window.ethereum.request({ method: 'eth_requestAccounts' });
						isMetaMaskConnected();
				  } catch (error) {
				    if (error.code === 4001) {
				      // User rejected request
				    }
				  }
				}
			}

			if (ethereum) {
			    var provider = new ethers.providers.Web3Provider(window.ethereum);
			}

			const isMetaMaskConnected = async () => {
			    const accounts = await provider.listAccounts();
			    console.log("metamask logged in " + (accounts.length > 0));

					if (accounts.length == 0) {
						return;
					}
					var shorty = accounts[0].substring(0,4) + "..." + accounts[0].substring(accounts[0].length-4,accounts[0].length);
					document.getElementById("connectWalletBtn").textContent = shorty;
			}

			isMetaMaskConnected();
	</script>

</head>

<body>
	<div class="header">
		<div style="width:40vw; float:left">
   		<h1><%= metadata.name %></h1>
			<p class="description"><%= metadata.description%></p>
		</div>
		<div style="width:40vw; float:right">
		<button id="connectWalletBtn" type="button" onClick="SignIn()">Connect Wallet</button>
		</div>
	</div>
	<div class="showcase">

		<% Object.keys(files).forEach(index => { var key = files[index] %>
			<div class="content">
				<h1><a href="/<%=hash%>.<%=key%>" download="<%=hash%>.<%=key%>"><%=key%><a/></h1>
				<% if (key == "glb" || key == "gltf") { %>
					<model-viewer id="glb" class="content inner" src="/<%=hash%>.<%=key%>" alt="paulie" auto-rotate camera-controls></model-viewer>
				<% } else if (key == "png" || key == "jpg" || key == "gif") { %>
					<img class="content inner" src="/<%=hash%>.<%=key%>"/>
					<% } else if (key == "mp4") { %>
						<video class="content inner" muted autoplay loop>
							<source src="/<%=hash%>.<%=key%>" type="video/mp4">
						</video>
				<% } %>

			</div>
      <% }) %>
	</div>
</body>
</html>
